<h1>Care Calendar</h1>
<table id="calendar" class="selecTableCells">
    <thead>
        <tr>
            <th colspan="7" style="text-align:left">
                <input type="button" onclick="changeMonth(-1);" value="&lt">
                <select id="selectMonth" style="font-weight:bold" onchange="changeMonthYear();"></select>
                <select id="selectYear" style="font-weight:bold" onchange="changeMonthYear();"></select>
                <input type="button" onclick="changeMonth(1);" value="&gt">
            </th>
        </tr>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>

    <tbody id="calendarBody">
    </tbody>
</table>
<div id="formContainer"></div>
