<table id="CareVisitTable" class="selecTable">
    <thead>      
        <tr>
            <th onclick="sortCustomers('VisitDateTime');" class="stickyHeader">Visit Date</th>
            <th onclick="sortCustomers('CustomerName');" class="stickyHeader">Customer</th>
            <th onclick="sortCustomers('PetNames');" class="stickyHeader">Pets</th>
            <th onclick="sortCustomers('CareProviderName');" class="stickyHeader">Care Provider</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>