<h1>Care Request</h1>
<!-- ToDo - This page is a placeholder to build out all of the Care Request functionality.  Consider replacing the similar functionality on the CareCalendar when this is complete -->

<div class="gridWith2Columns">
    <div class="gridLabelColumn"></div>  
    <div class="gridLabelColumn"><label for="CustomerName">Customer Name:</label></div>
    <div class="gridInputColumn">
        <input type="hidden" id="CareRequestID" />
        <select id="CustomerName" required></select>
    </div>
    <div class="gridLabelColumn">
        <label for="StartDate">Start Date:</label>
    </div>
    <div class="gridInputColumn">
        <input type="datetime-local" id="StartDate" required />
    </div>
    <div class="gridLabelColumn">
        <label for="EndDate">End Date:</label>
    </div>
    <div class="gridInputColumn">
        <input type="datetime-local" id="EndDate" required />
    </div>
</div>
<div>
    <input type="submit" id="Save" value="Save" />
    <input type="submit" id="SaveAndClose" value="Save & Close" />
</div>