<p id="CareVisitMessage"></p>
<table id="CareVisitTable" class="selecTable">
    <thead>
        <tr>
            <th onclick="sortCustomers('VisitDateTime');" class="stickyHeader">Visit Date</th>
            <th onclick="sortCustomers('CustomerName');" class="stickyHeader">Customer</th>
            <th onclick="sortCustomers('PetNames');" class="stickyHeader">Pets</th>
            <th onclick="sortCustomers('CareProviderName');" class="stickyHeader">Care Provider</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<form class="overlay" id="CareVisitForm">
    <div class="modalContent">
        <button type="button" class="modalClose" onclick="closeCareVisitForm();">&times;</button>
        <div class="gridWith2Columns">
            <div class="gridLabelColumn"><label>Visit Date:</label></div>
            <div class="gridInputColumn"><label id="VisitDateTime" /></div>
            <div class="gridLabelColumn"><label>Name:</label></div>
            <div class="gridInputColumn"><label id="CustomerName" /></div>
            <div class="gridLabelColumn"><label>Address:</label></div>
            <div class="gridInputColumn"><label id="Address" /></div>
        </div>
        <div>
            <table id="TaskTable">
                <thead>
                    <tr>
                        <th>Complete?</th>
                        <th>PetName</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <div>
            <input type='submit' id="SendEmail" value="Complete Visit and Email Customer" style="display:none;" />
        </div>
    </div>
</form>