<h1>Customer Information</h1>
<form class="overlay" id="CustomerForm">
    <div class="gridWith2Columns">
        <input type="hidden" name="ID" />
        <div class="gridLabelColumn"><label for="HouseholdName">Household Name:</label></div>
        <div class="gridInputColumn">
            <input type="text" id="HouseholdName" required />
        </div>
        <div class="gridLabelColumn">
            <label for="Email">Email:</label>
        </div>
        <div class="gridInputColumn">
            <input type="Email" id="Email" required />
        </div>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>
