<h1>Login</h1>
<form id="LoginForm">
    <div class="gridWith2Columns">
        <div class="gridLabelColumn"><label for="UserName">User Name:</label></div>
        <div class="gridInputColumn">
            <input type="text" id="UserName" required />
        </div>
        <div class="gridLabelColumn">
            <label for="Password">Password:</label>
        </div>
        <div class="gridInputColumn">
            <input type="Password" id="Password" required />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>      
</form>