<p>
    Welcome to <i>AndHow.biz!</i> The customer-centric, workflow site designed to help young entrepreneurs manage their first business.
    Whether your business is pet care, babysitting, tutoring, lawn care, washing cars, and/or general household chores,
    <i>AndHow.biz!</i> will help you define and schedule tasks to be performed at each customer visit.
</p>
<p>Reminder to address Relationships and trust</p>
<p>
    By establishing the Who &#9830; What &#9830; When &#9830; Where &#9830; <i>AndHow.biz!</i> provides an easy way to record the tasks you have performed, keep your customers informed, collect payment,
    and most importantly, see What’s Next!
</p>
<div class="gridWith2Columns">
    <div class="gridLabelColumn"><label for="SelectLocalBusiness">Your Local Businesses:</label></div>
    <div class="gridInputColumn">
        <select id="SelectLocalBusiness" required></select>
    </div>
</div>
<div>
    <table id="VisitorCalendar">
        <thead>
            <tr>
                <th colspan="7" style="text-align:left">
                    <input type="button" onclick="changeMonth(-1, createVisitorCalendar);" value="&lt">
                    <select id="SelectMonth" style="font-weight:bold" onchange="changeMonthYear(createVisitorCalendar);"></select>
                    <select id="SelectYear" style="font-weight:bold" onchange="changeMonthYear(createVisitorCalendar);"></select>
                    <input type="button" onclick="changeMonth(1, createVisitorCalendar);" value="&gt">
                </th>
            </tr>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>

        <tbody id="CalendarBody">
        </tbody>
    </table>
</div>
<form id="RequestCareForm" class="overlay">
    <div class="modalContent">
        <button type="button" class="modalClose" onclick="closeRequestCareForm();">&times;</button>
        <div class="gridWith4Columns">
            <div class="gridLabelColumn">
                <label for="Name">Who:</label>
            </div>
            <div class="gridInputColumn">
                <input type="text" id="Name" required placeholder="Please enter your name" />
            </div>
            <div class="gridLabelColumn">
                <label for="Email"></label>
            </div>
            <div class="gridInputColumn">
                <input type="email" id="Email" required placeholder="Please enter your Email" />
            </div>
            <div class="gridLabelColumn">
                <label for="Request">What:</label>
            </div>
            <div class="gridInputColumn" style="grid-column: 2/-1;">
                <textarea id="Request" style="width:100%;" required placeholder="Briefly decribe the type of care you are requesting."></textarea>
            </div>
            <div class="gridLabelColumn">
                <label for="StartDate">When:</label>
            </div>
            <div class="gridInputColumn">
                <input type="date" id="StartDate" required />
            </div>
            <div class="gridLabelColumn">
                <label for="EndDate"></label>
            </div>
            <div class="gridInputColumn">
                <input type="date" id="EndDate" required />
            </div>
            <div class="gridLabelColumn">
                <label for="Address">Where:</label>
            </div>
            <div class="gridInputColumn" style="grid-column: 2/-1;">
                <textarea type="text" id="Address" style="width:100%;" required placeholder="Please enter your address"></textarea>
            </div>
        </div>
    </div>
</form>