<p>
    Busy Time is a customer-centric, workflow site intended to help young entrepreneurs manage their first business.
    Whether your business is pet care, lawn care, washing cars, and/or general household chores,
    this website will help you to manage your customers’ expectations by defining and scheduling tasks to be performed at each visit.
    The website also helps to manage scheduling and payments.
</p>
<p>
    Busy Time is also a portal for your current and prospective cutomers to view your business' services and availability.
</p>
<div class="gridWith2Columns">
    <div class="gridLabelColumn"><label for="SelectLocalBusiness">Local Busy Time Businesses:</label></div>
    <div class="gridInputColumn">
        <select id="SelectLocalBusiness" required></select>
    </div>
</div>
<div>
    <table id="VisitorCalendar">
        <thead>
            <tr>
                <th colspan="7" style="text-align:left">
                    <input type="button" onclick="changeMonth(-1, createVisitorCalendar);" value="&lt">
                    <select id="SelectMonth" style="font-weight:bold" onchange="changeMonthYear(createVisitorCalendar);"></select>
                    <select id="SelectYear" style="font-weight:bold" onchange="changeMonthYear(createVisitorCalendar);"></select>
                    <input type="button" onclick="changeMonth(1, createVisitorCalendar);" value="&gt">
                </th>
            </tr>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>

        <tbody id="CalendarBody">
        </tbody>
    </table>
</div>
<form id="RequestCareForm" class="overlay">
    <div class="modalContent">
        <button type="button" class="modalClose" onclick="closeRequestCareForm();">&times;</button>
        <div class="gridWith4Columns">
            <div class="gridLabelColumn">
                <label for="StartDate">Start Date:</label>
            </div>
            <div class="gridInputColumn">
                <input type="date" id="StartDate" required />
            </div>
            <div class="gridLabelColumn">
                <label for="EndDate">End Date:</label>
            </div>
            <div class="gridInputColumn">
                <input type="date" id="EndDate" required />
            </div>
            <div class="gridLabelColumn">
                <label for="Name">Name:</label>
            </div>
            <div class="gridInputColumn">
                <input type="text" id="Name" required />
            </div>
            <div class="gridLabelColumn">
                <label for="Email">Email:</label>
            </div>
            <div class="gridInputColumn">
                <input type="email" id="Email" required />
            </div>
            <div class="gridLabelColumn">
                <label for="Request">Request:</label>
            </div>
            <div class="gridInputColumn" style="grid-column: 2/-1;">
                <textarea id="Request" style="width:100%;" required placeholder="Briefly decribe the type of care you are requesting."></textarea>
            </div>
        </div>
    </div>
</form>