body {
    font-family: 'Comic Sans MS';
    margin: 0;
}
input, select, textarea {
    font-family: inherit;
}
.message {
    position: relative;
    z-index: 10; /*Higher number is always on top*/
    border: 1px solid transparent;
    border-radius: 4px;
}
.messageSuccess {
    color: green;
    background-color: lightgreen;
    border-color: green;
}
.messageError {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.gridWith2Columns {
    display: grid;
    grid-template-columns: max-content max-content;
    margin: 0 auto;
    grid-gap: 5px;
}
.gridWith4Columns {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    margin: 0 auto;
    grid-gap: 5px;
}
.gridLabelColumn {
    text-align: left;
    font-weight: bold;
}
.gridInputColumn {
    text-align: left;
}
.overlay {
    position: fixed; /*Sit on top of page content*/
    display: none;
    width: 100%; /*Cover the whole page*/
    /*height: 100%;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1; /*Specify a stack order in case you are using a different order for other elements*/
    overflow: auto;
}

.modalContent {
    background-color: #fefefe;
    margin: 5% auto; /*20% from top and centered*/
    padding: 10px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 85%;
    /*height: 90%;*/
    /*height: auto;*/
    /*overflow: auto;*/
}

@media screen and (max-width:600px) {
    .modalContent {
        width: 98%;
        /*height: 85%;*/
        /*height: auto;*/
        margin: 10% auto;
    }
    .gridWith4Columns {
        grid-template-columns: max-content max-content;
    }
}

.modalClose {
    color: #676767;
    float: right;
    background-color: transparent;
    border-style: none;
    font-size: 1.5rem;
}

    .modalClose:hover, .modalClose:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
table {
    border-collapse: collapse;
    table-layout: auto;
    background-color: #fefefe;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

th {
    border-bottom: solid 2px;
    padding: 5px;
}

    th.tableHeading {
        border-bottom: none;
        text-align: left;
        padding-left: 0px;
    }

td {
    padding: 5px;
    vertical-align: top;
}

    td:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    td:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
.tableFilter {
    text-align: right;
    border-bottom: none;
}
.selecTable > thead > tr:hover {
    cursor: pointer;
}
.selecTable > tbody > tr:hover {
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}
.selected {
    background-color: cyan;
}
a.delete, a.undo {
    cursor: pointer;
    padding: 5px;
}
.calendarDay {
    text-decoration: underline;
}
.calendarDay:hover {
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}
.calendarEntry:hover {
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}
.unavailableCalendarDay {
    background-color: ghostwhite;
    color: lightgray;
}
.parentTable td {
    padding: 1px;
}
.parentRow td {
    padding-top:  10px;
    /*border: 1px solid black;*/
}

.childTableContainerRow {
    border-bottom: 1px solid;
}
.childTable {
    margin: 1px 0px 5px 25px;
    width: 95%;
}
.childRow > td:first-child {
    width: 5%;
}
.childRow > td:last-child {
    width: 98%;
}
    .childRow > td:last-child > input {
        width: 98%;
    }



    